# Dane uwierzytelniające do USOS API
# 20-znakowy klucz konsumenta, np. '3WfVJWRO24P44npE4z18'
USOS_CONSUMER_KEY=
# 40-znakowy sekret konsumenta, np. 'o0Nfkq1ADJEZgJSBRlCCmEGgteuX4HAK94HkfDdk'
USOS_CONSUMER_SECRET=
